# ==============================
# Virtual Environments
# ==============================
Flow_env/
venv/
env/

# ==============================
# Python Cache Files
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Dataset Folder
# ==============================
Datasets/

# ==============================
# Large Model Files
# ==============================
*.keras
*.h5
*.pt
*.pth

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db